<div class="rules flow-text">
  <h4>How to play Fishbowl</h4>
  <p>
    Fishbowl is played in three rounds, each lasting until there are no more words. Each round a player from a team will be given the phone/tablet. Their objective is to get their team to guess the word on the screen. Once their team succesfully guesses the word, the player presses 'Score' to score the word and to get the next word. This continues until the player is out of time, at which point the scores will be displayed, and the next player will be called up. This continues around for 3 (or 4) exciting rounds! See below for rules specific to each round:
  </p>
  <h5>Round 1: Taboo</h5>
  <p>Get your team to guess the word without saying the word.</p>
  <h5>Round 2: Password</h5>
  <p>Get your team to guess the word by only saying <em><strong>one</strong></em> word.</p>
  <h5>Round 3: Charades</h5>
  <p>Get your team to guess the word by acting the word out.</p>
  <h5>Optional Round 4: Sounds</h5>
  <p>Get your team to guess the word by only using sounds.</p>
  </ul>
  <div class="row">
    <div class="col s12 center-align">
      <button id="back" class="btn waves-effect waves-light btn-large">Back</button>
    </div>
  </div>
</div>


